{% extends 'layouts/default.njk' %}

{% block body %}
<div class="wrapper">
  {% include 'partials/nav.njk' %}
  {% include 'partials/sections.njk' %}

   <div class="modal" id="edit-section">
    <form class="modal-content" method="POST" action="/app/projects/{{ activeProject }}/sections/{{ currentSection.id }}?_method=PUT">
      <input type="text" name="title" placeholder="Título da seção" value="{{ currentSection.title }}">
      <div class="content-container">
        <textarea name="content" class="mde" placeholder="Conteúdo da sseção">{{ currentSection.content }}</textarea>
      </div>
      <button type="submit">SALVAR SEÇÃO</button>
      <a href="#" data-modal-close="#edit-section">CANCELAR</a>
    </form>
  </div>
</div>

{% endblock %}
