<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Acessou!</title>

</head>
<body>
  <h1>Parabéns {{ nome }}, você tem mais que 18 anos</h1>
</body>
</html>
