<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Acesso Negado!</title>

</head>
<body>
  <h1>Que pena {{ nome }}, você tem menos que 18 anos</h1>
</body>
</html>
